main{
    height: 80vh;
    width:85vw ;
}
#jugador-game{
    position: relative;
    display:inline-block;
    margin: 0;
}

#puntucaion-game{
    position: relative;
    margin: 0;
    display:inline-block; 
    left: 15vw;
}
#ayuda{
    position: relative;
    margin: 0;
    display:inline-block; 
    left: 60vw;
}

#tablero{
    border-color: red;
    height: 90vh;
    width: 97vw;
    border-style: solid;
}
#cartas{
    position: relative;
    margin: 0;
    display:inline-block; 
    bottom: 96.5vh;
    left: 50vw;
    
}

#menu-game{
    position: relative;
    margin: 0;
    display:inline-block; 
    bottom: 96.5vh;
    left: 92vw;
}

#fila {
    display: flex;
}

.invisible{
    font-size: 2em;
    visibility: hidden;
    display : none;
}

.seleccionada {
    background-color: yellow;
}

.header-juego {
    position: absolute;
    display: flex;
    background-color: salmon;
    top : 0;
    left: 0;
    width: 100vw;
    height: 5vh;
}

.tablero {
    position: relative;
    display: flex;
    background-color: salmon;
    top : 12vh;
    left: 1vw;
    width: 95vw;
    height: 80vh;
    align-items: unset;
    overflow: hidden;
    display: block;
}

.menu {
    z-index: 100;
    background-color: grey;
    position: absolute;
    width: 80vw;
    height: 10vh;
    text-align: center;
    padding: 4vw;
}