#nueva-cuenta-login{
    display: wrap;
    position: relative;
    width: 15vw;
    left: 25vw;
}

#nueva-cuenta-login input{
    display: block;
    font-size: x-large;
    width: 50vw;
    height: 5vh;
}
.titulo-principal{
    padding-left:4.5em ;
}
.eslogan{
    padding-left:2em ;
}

.image-fondo {
    padding: 5em;
}

#nueva-cuenta-login label{
    font-style: italic;
    font-weight: bold;
}

#nueva-cuenta-login #nueva-cuenta-submit-login{
    position: relative;
    top:5vh;
    left:13vw;
    width: 25vw;
}



@media only screen and (orientation:landscape) and (min-width: 1024px) {

#nueva-cuenta-login{
    display: wrap;
    font-size: 2em;
    position: relative;
    width: 25vw;
    height: 10vh;
    left: 30vw;
}

#nueva-cuenta-login label{
    display: block;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
}
    
#nueva-cuenta-login input{
    display: block;
    font-size: x-large;
    width: 40vw;
    height: 5vh;
}
    
#nueva-cuenta-login #nueva-cuenta-submit-login{
    position: relative;
    top:5vh;
    left:7vw;
    width: 25vw;
}

.titulo-principal{
    padding-left:3.5em ;
}
.eslogan{
    padding-right:1em ;
}
}


@media only screen and  (min-width: 1025px) {



#nueva-cuenta-login{
    left: 30vw;
}

.eslogan{
    padding-right:3em ;
}

.titulo-principal{
    padding-left:4em;
}

#nueva-cuenta-login #nueva-cuenta-submit-login{
    font-size: 2em;
    top:5vh;
    left:7vw;
    width: 25vw;
}
}

