#form-nombre-sala{
    display: wrap;
    width: 25vw;
    position: relative;
    left:15em;
}

#form-nombre-sala label{
    font-weight: bold;
    font-style: italic;
}
#form-nombre-sala button{
    position: relative;
    top:5vh;
    left: 6vw;
    width: 15vw;
    border-color: red;
    -webkit-text-stroke: 1px black;
    opacity: 50%;
    font-size: 1em;
    color: red;
}
h3{
    text-align: center;
}

@media only screen and (orientation:landscape) and (min-width: 1024px) {
#form-nombre-sala{
    
    display: wrap;
    width: 25vw;
    position: relative;
    left:20em;
}
    
#form-nombre-sala label{
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}

#form-nombre-sala input{
    height: 3.5em;
    width: 40vw;
}

#form-nombre-sala button{
    position: relative;
    top:10vh;
    left:6vw;
    width: 25vw;
    border-color: red;
    display: block;
    opacity: 50%;
    color: red;
    font-size: 3em;
    -webkit-text-stroke: 2px black;
    height: 10vh;
   
}
h3{
    text-align: center;
    font-size: 2em;
}

}

@media only screen and  (min-width: 1025px) {
#form-nombre-sala{
    left:25em;
}
}