
*{
  font-family: Dynalight;
}

body {
  background-image: url("/assets/imagenes/epidemiology.jpg");
}


.image-fondo {
  padding: 5em;
}


.container{
  background-image: url("/assets/imagenes/epidemiology.jpg"); 
  background-size: contain;
  display: inline-block;
  width: 35vw;
  height: 50vh;
  text-align: center;
  background-color:green;
  
}

    
h1{
    font-size: 2em;
    display: inline-block;
    color: #fff;
    padding-bottom: 1vh;
}

.lavel-color{
    font-size: 4em;
    color: red;
    display: block;
}

button{
  font-size: 1em;
  height: 8vh;
  width: 10vw;
  -webkit-text-stroke: 1px black;
  transform: skew(20deg);
  background-color: salmon;
}


.submitboton{
  left: 55vw;
  top: 5vh;
}

.salirboton{
  left: 6vw;
  bottom: 2.5vh;
}

#top{
  position: relative;
  left: 30vw;
  top:3vh;
}

#jugar{
  position: relative;
  left: 55vw;
  top: 3vh;
  
}



.titulo-principal{
  -webkit-transform: rotate(-7deg); 
  -moz-transform: rotate(-7deg); 
  -ms-transform: rotate(-7deg); 
  -o-transform: rotate(-7deg); 
  transform: rotate(-7deg); 

  font-size: 3em;  
  color: white;
  margin:auto;
  padding-top: 0.5em;
  padding-left: 4em ;
}

.eslogan{
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold;
  font-style: italic;
}

.reglas{
  font-size: 1em; 
  font-style: italic;
  margin: auto;
}





@media only screen and (orientation:landscape) and (min-width: 1024px) {

body {
    background-image: url("/assets/imagenes/epidemiology.jpg");
}

.image-fondo {
  padding: 5em;
}
.container {  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);

  display: inline-block;
  width: 50vw;
  height: 50vh;
  text-align: center;
}


h1{
  font-size: 1em;
}

section .lavel-color{
    font-size: 1em;
} 

button{
  font-size: 1em;
  height: 8vh;
  width: 10vw;
  -webkit-text-stroke: 2px black;
  transform: skew(20deg);
  background-color: salmon;
}

.botonPrincipal{
  background-color: salmon;
}

.submitboton{
  left: 40vw;
  top: 15vh;
}

.titulo-principal{
  -webkit-transform: rotate(-7deg); 
  -moz-transform: rotate(-7deg); 
  -ms-transform: rotate(-7deg); 
  -o-transform: rotate(-7deg); 
  transform: rotate(-7deg); 
  
  font-size: 5em;  
  margin:auto;
  padding-top: 0.5em;
  padding-left: 3.5em ;
}

.eslogan{
  text-align: center;
  font-size: 2.5em; 
  font-weight: bold;
  font-style: italic;
}

.reglas{
  font-size: 1.5em; 
  font-style: italic;
  margin: auto;
}

.salirboton{
  left: 4vw;
  top: 7vh;
}
#top{
  position: relative;
  left: 30vw;
  top:3vh;
}

#jugar{
  position: relative;
  left: 50vw;
  bottom: 3vh;
  
}



}
  

@media only screen and  (min-width: 1025px) {
.container{
  background-image: url("/assets/imagenes/epidemiology.jpg"); 
  background-size: contain;
  display: inline-block;
  width: 35vw;
  height: 50vh;
  text-align: center;
  background-color:green;
}

    
h1{
    font-size: 5em;
    display: inline-block;
    color: #fff;
    padding-bottom: 1vh;
}

.lavel-color{
    font-size: 4em;
    color: red;
    display: block;
}

button{
  border-color: red;
  display: block;
  height: 11vh;
  width: 11vw;
  position: relative;
  opacity: 50%;
  color: red;
  font-size: 2.5em;
  -webkit-text-stroke: 2px black;
}


.submitboton{
  left: 55vw;
  top: 5vh;
}

.salirboton{
  left: 6vw;
  bottom: 2.5vh;
}

.titulo-principal{
  -webkit-transform: rotate(-7deg); 
  -moz-transform: rotate(-7deg); 
  -ms-transform: rotate(-7deg);   
  -o-transform: rotate(-7deg); 
  transform: rotate(-7deg); 
  font-size: 6em;  
  margin:auto;
  padding-top: 0.5em;
  padding-left: 4em ;
}


.eslogan{
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold;
  font-style: italic;
}

.reglas{
  font-size: 1.5em; 
 font-style: italic;
 margin: auto;
}


#top{
  position: relative;
  left: 30vw;
  top:14vh;
}

#jugar{
  position: relative;
  left: 55vw;
  bottom: 18vh;
}


}