<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset = " UTF-8 " >
        <title>Epidemiology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/style/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/assets/js/components/Paw.js"></script>
        <script src="/assets/js/App.js"></script>
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        
        {% endblock %}
    </header>
    <main>
        {% block main %}
        
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        
        {% endblock %}
    </footer>
</body>
</html>