{% extends "Partials/Base.twig" %}

{% block header %}
    {{ parent() }}
    	
{% endblock %}

{% block main %}
    <h1 class="titulo-principal"> Empidemoilogy </h1>
    <p class="eslogan">El luego que te enferma</p>

    <section>
        <h2>Reglas</h2>
            <p>
                {# todo: agregar las reglas #}
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula dui, consectetur vitae faucibus nec, aliquet a justo. Cras non tincidunt nunc. Mauris pellentesque convallis ante, nec pharetra massa sodales nec. Mauris laoreet ornare vestibulum. Pellentesque sed purus dignissim, bibendum odio vitae, sagittis nisl. Vivamus efficitur tempor diam, sit amet aliquam orci lacinia at. Mauris magna augue, tincidunt sed augue eget, eleifend consequat nisl. Donec cursus massa est, in mollis sem placerat eu. Etiam accumsan, urna eget porttitor egestas, justo ligula consequat nunc, in elementum neque metus sed est. Aenean convallis mauris id sodales efficitur. Duis ut ex tempus, rutrum quam quis, consequat mauris. Sed in erat ornare nunc sagittis varius. Donec eu pellentesque quam. Nam et nibh ac nisl dapibus volutpat et a tortor. Suspendisse nec ex placerat, interdum magna eget, tempor felis. Nam a nunc sed quam consequat auctor.
            </p>
            <p>
                Aenean eget feugiat erat. Quisque sem velit, lacinia eu sapien a, malesuada rutrum quam. Maecenas aliquet tortor non dictum maximus. Nam in maximus lorem. Duis consectetur, ante ut tempor ultrices, est neque dapibus est, vel rutrum est nulla eu nunc. Integer porta rhoncus purus, sed dapibus urna. Maecenas justo leo, varius at aliquet sit amet, tincidunt ut ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi est felis, sodales id bibendum ut, porta vitae odio. Sed vitae magna augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quam erat, semper id aliquam ut, accumsan at nulla. Etiam mattis, nibh ut vehicula sagittis, nisl justo pharetra nulla, eget malesuada quam arcu vel magna. Phasellus mattis diam nec ante lobortis, id eleifend felis accumsan. Pellentesque ut risus elit. Integer odio ex, scelerisque a mauris a, ullamcorper rutrum arcu.
            </p>
            <p>
                Nulla eu ligula porta, mattis erat vel, tempor lorem. Nullam sed faucibus neque. Pellentesque maximus, dolor vel mollis pretium, enim diam fermentum neque, et tristique lorem sapien vel leo. Curabitur est mi, vestibulum sit amet justo eget, vulputate blandit elit. Nam dictum mollis urna vel pharetra. Quisque arcu nisi, ullamcorper non magna et, pretium imperdiet felis. Donec luctus nunc vel nisl aliquam molestie. Vestibulum sed elit et urna auctor posuere. In commodo consectetur nibh et fringilla. Proin cursus dolor vel justo aliquam, eu vestibulum orci maximus. Duis eu nisi congue tellus mattis maximus. Suspendisse at mattis nisi, vitae egestas mi. Praesent a elit sed nulla accumsan rhoncus. Sed maximus eros non elit aliquet luctus.
            </p>
            <p>
                Praesent vulputate ultricies quam, eu sollicitudin ante convallis ornare. Donec faucibus libero et diam tincidunt eleifend. Vivamus fringilla nec sem vitae mollis. Sed iaculis placerat eros id tristique. Sed euismod eros imperdiet magna condimentum aliquam. Pellentesque ut orci consectetur, cursus nulla eu, viverra tortor. In iaculis id massa ut sollicitudin. Duis diam neque, vehicula vel egestas sed, porta a urna. In varius mi dolor, eget varius eros dapibus ut. Ut finibus elementum luctus. Sed tincidunt varius mi eu tristique. 
            </p>
    </section>
    <button class="botonPrincipal" id="top" name="top">Top</button>
    	
{% endblock %}