{% extends "Partials/Base.twig" %}

{% block header %}
    {{ parent() }}
    	
{% endblock %}

{% block main %}
    <h1 class="titulo-principal"> Empidemoilogy </h1>
    <p class="eslogan">El luego que te enferma</p>

    <section>
        <h2 class="reglas">Reglas: </h2>
            <p>
                {{ayuda}}
            </p>
    </section>
    <button class="botonPrincipal" id="top" name="top">Top</button>
    	
{% endblock %}