<ul class="lista-puntuaciones">
{% for jugador in jugadores %} 
    {% if jugador.nombre == jugadorTurno %}<li class="enfatizar">{% else %} <li>{% endif %}{{jugador.nombre}}       {{jugador.puntuacion}}</li>
{% endfor %}
</ul>