{% extends "Partials/landingpage.twig" %}

{% block header %}
    {{ parent() }}
    <script src="/assets/js/components/HTMLContainerModifier.js"></script>
{% endblock %}

{% block main %}
    {{ parent() }}    
    <button class="botonPrincipal" id="crearCuentaBoton" name="crearCuentaBoton">Crear cuenta</button>
    <button class="botonPrincipal" href>Ingresar</button>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.redirectOnClick("crearCuentaBoton","/crearCuenta")
        })
    </script>
{% endblock %}