{% extends "Partials/base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/style/login.css"/>
    <script src="/assets/js/components/HTMLContainerModifier.js"></script>
{% endblock %}

{% block main %}

    <h1 class="titulo-principal"> Empidemoilogy </h1>
    <p class="eslogan">El juego que te enferma</p>
    {{ parent() }}    

    <form name="nueva-cuenta-login" id="nueva-cuenta-login">
        <out id="signup-out" class="invisible">
        </out>
        <label>Usuario
            <input required name="usuario" id="usuario" class="input-login" placeholder="usuario">
        </label>
        <label>Password
            <input required type="password" name="password" id="password" class="input-login" placeholder="password">
        </label>
        <button id="nueva-cuenta-submit-login" class="">Crear cuenta</button>
    </form>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.PostDinamicoFormConResultadoOut("nueva-cuenta","signup-out","nueva-cuenta-submit","/login")
        })
    </script>
{% endblock %}