{% extends "Partials/base.twig" %}

{% block head %}
    {{ parent() }}
    <script src="/assets/js/components/HTMLContainerModifier.js"></script>
{% endblock %}

{% block main %}
    {{ parent() }}    
    <p>Ha ingresado datos incorrectos</p>
    <button id="nueva-cuenta-submit" class="">Crear cuenta</button>
    <script>
    </script>
{% endblock %}