{% extends "Partials/base.twig" %}

{% block header %}
    {{ parent() }}
    	
{% endblock %}

{% block main %}
    <h1 class="titulo-principal"> Empidemoilogy </h1>
    <p class="eslogan">El luego que te enferma</p>

    <section>
        <h2>Reglas</h2>
            <p>
                {# todo: agregar las reglas #}
            </p>
    </section>
    	
{% endblock %}