<p> Su cuenta ha sido creada con éxito</p>

<button class="" id="volver">Entiendo</button>


<script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.redirectOnClick("volver","/")
        })
</script>