{% extends "Partials/base.twig" %}


{% block main %}

    <li>
        {% for juego in juegos %} 
            <button id="irASala_{{juego.nombre}}"> {{juego.nombre}} </button>
        {% endfor %}

        <button id="crearSala"> Crear sala </button>
    </li>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.redirectOnClick("crearSala","/crearSala")
            {% for juego in juegos %} 
                HTMLContainerModifier.redirectOnClick("irASala_{{juego.nombre}}","/sala?nombre={{juego.nombre}}")
            {% endfor %}
        })
    </script>
{% endblock %}