{% extends "Partials/base.twig" %}


{% block main %}

    <li>
        {% for juego in juegos %} 
            <button id="irASala"> {{juego.fields.nombre}} </button>
        {% endfor %}

        <button id="crearSala"> Crear sala </button>
    </li>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.redirectOnClick("crearSala","/crearSala")
            HTMLContainerModifier.redirectOnClickWithParam("irASala","/login", "innerText", "nombre")
        })
    </script>
{% endblock %}